* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}


html, body, #root {
    background-image: url(img/Consultoria1.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: rgb(191, 183, 183);
    height: 100%;
}

@media(max-width: 900px) {
    html, body, #root {
        background-image: url(img/Consultoria1.png);
        background-size: 180%;
        background-position: center;
        background-repeat: no-repeat; 
    }
}
 